@media screen and (max-width: 800px){
    #hero{
      height: 100vh;
      padding-top: 80%;
    }
    .info-list{
      margin-left: -10%;
    }
    .page-title{
      margin-top: 10%;
    }

  }
  @media screen and (max-height: 700px){
    .header-photo{
      margin-top: -30%
    }
  }